.TechButtons {
  display: flex;
  justify-content: center;
  width: 75%;
  margin-top: 30px;
  &__button {
    width: 200px;
    height: 50px;

    &_calculate {
      margin-right: 20px !important;
    }
  }
}
